/*//META{"name":"Miku-theme","description":"A transparent and automatically updating Hatsune Miku theme","author":"MythikAngel","version":"2"}*//*/

/* Importing CSS */
@import url("https://mythikangel.github.io/miku-discord-theme/miku.css");

/*
--|Customizing theme|--
Change these values to customize the colors and avatar-roundness of the theme.
More information and instructions can be found on the Wiki:
https://github.com/MythikAngel/miku-discord-theme/wiki/Customizing-theme
*/

/*
:root {
	
  --Main-Colour: rgb(0, 238, 255);
  --Background-Colour: rgb(0, 238, 255);
  --Secondary-Background-Colour: rgb(0, 238, 255);
  --Secondary-Main-Colour: rgb(0, 238, 255);
  --Text-Shadow-Colour: rgb(0, 238, 255);
  --Scroller-Colour: rgb(0, 238, 255);
  --Notification-Colour: rgb(0, 238, 255);
  --Chat-Input-Background: rgb(0, 238, 255);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://lh3.google.com/u/0/d/1qx6hik02w4plHZGuV_vx9oiS06Jm0CPG=w1632-h878-iv1);
  --Settings-Background: url(https://lh3.google.com/u/0/d/1qx6hik02w4plHZGuV_vx9oiS06Jm0CPG=w1632-h878-iv1);
  --Callout-Background: url(https://lh3.google.com/u/0/d/1qx6hik02w4plHZGuV_vx9oiS06Jm0CPG=w1632-h878-iv1);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Hatsune Miku Awakening";
  --Chat-Font-Used: "Whitney";
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 10%;
  --Background-Darkness: 0.5;
*/

  :root {
  --background-image: url('https://images3.alphacoders.com/687/687930.png');
  --friends-icon: url('https://avatarfiles.alphacoders.com/102/102236.jpg');
  --friends-icon-zoom: 112%;
  --friends-icon-position: center center;
  --main-color: rgb(66,201,197);
  --main-transparency: rgba(0,0,0,0.8);
  --hover-list-bg-color: rgba(0,0,0,0.22);
  --border-lines-color: rgba(0,0,0,0.1);
  --scroll-bar-color: rgba(221,221,221,0.74);
  --selected-text-voice-color: #ffffff;
  --channel-hover-text-color: rgba(76,219,211,0.75);
  --unread-text-color: rgba(47,201,202,0.96);
  --user-popup-background: rgba(0,0,0,0.8);
  --font-size: 16px;
  --unread-server-animation: rainbow;
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --interactive-normal: #09b5bb;
}
}
